{% extends 'base.html' %}
{% block content %}
        <!-- Header title -->
        <section class="bg-custom header-title-box">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                      <h3 class="text-white">Ответьте на любой из квалификационных вопросов, чтобы попасть в команду!</h3>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- END Header title -->

        <!-- JOBS -->
        <section class="section">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h3 class="title">Простые квалификационные вопросы</h3>
                        <span class="text-muted sub-title">Они помогут нам выбрать лучших из Вас,<br> а вам, оценить свой уровень </span>
                    </div>
                </div> <!-- end row -->
 		{% if index %}
			{% for question in index %}
                <div class="row m-t-20">

                  <div class="col-md-10 col-md-offset-1">
                      <div class="job-box" style="text-align: center">
                        <h5>{{ question.title }}</h5>
                        <p class="text-muted">{{ question.description }}</p>
                        <div class="text-center">
                        	<br />
                          <a href="{% url 'qualification:detail' question.id %}" class="btn btn-custom btn-job">Подробнее</a>
                        </div>
                      </div>
                  </div>
                  <!--col-md-10 -->
			{% endfor %}
		{% endif %}
                </div>
                <!-- end row -->

            </div> <!-- end container -->
        </section>
        <!-- END JOBS -->
{% endblock %}