{% extends "base.html" %}

{% block title %}Forbidden (403){% endblock %}

{% block body_class %}template-403_csrf{% endblock %}

{% block content %}
        <section class="bg-custom header-title-box">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                      <h3 class="text-white">К сожалению, вам не разрешено выполнять данное действие.</h3>   
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
{% endblock content %}



