{% load base_tags static users_tags breadcrumbs_tags wagtailuserbar %}

{% block head %}
    {% include "includes/head.html" %}
{% endblock head %}
<script type="text/javascript">
//    function defer(method) {
//  if (window.jQuery)
//      method();
//  else
//      setTimeout(function() { defer(method) }, 50);0
//}
//function defer(method) {
//    $("#deferred-scripts").load(function() {
//        method();
//    };
//};
</script>
<body data-spy="scroll" data-target="#navbar-menu" class="{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}">
{#% wagtailuserbar %#}

{% block header %}
    {% include "includes/header.html" with parent=site_root calling_page=self %}
    {# Header contains the main_navigation block #}
{% endblock header %}

{% block head-extra %}
{% endblock head-extra %}

{#% block messages %#}
    {#% include "includes/messages.html" %#}
{#% endblock messages %#}


{% block breadcrumbs %}
    {% breadcrumbs %}
    {# breadcrumbs is defined in base/templatetags/navigation_tags.py #}
{% endblock breadcrumbs %}

{#% block masters %#}
    {#% masters %#}
{#% endblock masters %#}

{% include "includes/modals.html" %}

<!--content-->
    {% block content %}
    {% endblock content %}
<!--/content-->
    <!-- Footer -->
    <footer class="section bg-gray footer">
        {% include "includes/footer.html" %}
    </footer>
{% block js_footer %}
    {% include 'includes/js_footer.html' %}
{% endblock js_footer %}
</body>
</html>