{% extends "base.html" %}

{% load wagtailcore_tags cms_tags %}

{% block meta %}
    {% if resource.has_next %}
    <link rel="next" href="?page={{ resources.next_page_number }}">
    {% elif resource.has_previous %}
    <link rel="prev" href="?page={{ resources.previous_page_number }}">
    {% endif %}
{% endblock meta %}

{% block body_class %}template-basepage{% endblock %}

{% block content %}    
  <div class="infinite-container">
    {% for resource in resources %}
      <div class="infinite-item">
      {{ body_page }}
      </div>
    {% endfor %}
  </div>

  {% if resources.has_next %}
    <a class="infinite-more-link" href="?page={{ resources.next_page_number }}"></a>
  {% endif %}

  <script>
  defer(function () {
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      offset: function(){return this.context.innerHeight()-(this.adapter.outerHeight()*0.85)},
	    });
	});
  </script>

{#% block map %#}
    {#% citypages_map %#}
{#% endblock map %#}
{% endblock content %}
