{% load cache static l10n %}
{% if points.count %}
{% cache 60 * 30 points %}
<div id="map" style="width: 100%; height: 400px"></div>
{% localize off %}
<script>
  function initMap() {
    var latlng = { lat: 53.9, lng: 27.56667 };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 6,
      center: latlng,
      scrollwheel: false,
      disableDoubleClickZoom: true,
    });

    google.maps.event.addListenerOnce(map, 'tilesloaded', addMarkers);

    function addMarkers() {
    {% for point in points %}
    //var nonsplitpoint = '{{ point.city.location}}'
    //var lat = Number(nonsplitpoint.split(' ')[2].replace(')',''))
    //var lng = Number(nonsplitpoint.split(' ')[1].replace('(',''))
    var lat = '{{ point.city.latitude }}'
    var lng = '{{ point.city.longitude }}'
    var point = { lat: Number(lat.replace(',', '.')), lng: Number(lng.replace(',', '.')) };
    var marker = new google.maps.Marker({
      position: point, 
      map: map,
      title: '!',
      url: '', 
    });

    marker['infowindow'] = new google.maps.InfoWindow({
      content: '<div id="content" style="text-align: center"><h1>{{ point.title }}</h1><br/><h2></h2><br/><h3><a href="{{ point.slug }}">{{ point.title }}</a></h3></div>'
    });

    google.maps.event.addListener(marker, 'click', function() {
      //window.location.href = this.url;
      this['infowindow'].open(map, this);
    });
    google.maps.event.addListener(marker, 'mouseover', function() {
      //this['infowindow'].open(map, this);
    });
    google.maps.event.addListener(marker, 'mouseout', function() {
      //this['infowindow'].close(map, this);
    });
    {% endfor %}
  }
}

</script>
{% endlocalize %}
<script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyBO-_WYrcSrU79tLuKPiINGkCJ1e__RWWw&callback=initMap" async defer></script>
{% endcache %}
{% endif %}