        <!-- HOME -->
        <section class="bg-custom home" id="home">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="home-wrapper home-wrapper-alt">
                            <h1 class="font-light text-white">{{ self.h1 }}</h1>
                            <h4 class="text-light">{{ self.h4 }}</h4>
                            <a href="{{ self.link_href }}" class="btn btn-white-bordered">{{ self.link_text }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END HOME -->
