{% load compress %}
        <!-- HOME -->
        <section class="bg-custom home" id="home">
            <div class="home-sm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-7">
                            <div class="home-wrapper home-wrapper-alt p-0">
                                <h1 class="h1 font-light text-white w-full">{{ self.h1 }}</h1>
                                <h4 class="text-light w-full">{{ self.h4 }}</h4>
                                {% if self.link %}
                                <a href="{{ self.link }}" class="btn btn-white-bordered">{{ self.linktext }}</a>
                                {% endif %}
                                {% if self.ortext %}
                                <span class="or-space text-light">{{ self.ortext }}</span>
                                {% endif %}
                                {% if self.videolink %}
                                <a href="{{ self.videolink }}" class="video-btn btn popup-video"><i class="pe-7s-play"></i>{{ self.videotext }}</a>
                                {% endif %}
                            </div>
                        </div> <!-- end col -->

                        <div class="col-md-4 col-md-offset-2 col-sm-5">
                            <form class="intro-form">
                                <h3 class="text-center">{{ self.formh3 }}</h3>
                                    <input type="text" id="{{ self.handle }}-name" name="name" class="form-control" data-validation="length"  data-validation-length=" 3-15" data-validation-error-msg-container="#{{ self.handle }}-email-error-dialog" placeholder="Ваше имя" required="required">
                                    <span id="{{ self.handle }}-email-error-dialog"></span>
                                <div class="form-group">
                                    <input type="text" id="{{ self.handle }}-phone" name="phone" class="form-control" placeholder="Ваш номер телефона" required="required">
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-custom btn-sm btn-block" id="{{ self.handle }}-submit">{{ self.button }}</button>
                                </div>
                                <span class="help-block m-b-0 m-t-20 text-muted"><small>{{ self.formtext }} <a href="{{ self.formlink }}">{{ self.formlinktext }}</a></small></span>
                            </form>
                        </div><!-- end col -->
                    </div>
                </div>
            </div>
        </section>
        {#% compress js inline %#}
        <script type="text/javascript" defer="" src="">
             $( "#deferred-scripts" ).load(function() {
                alert(' #deferred-scripts is loaded')
                $('.popup-video').magnificPopup({
                  disableOn: 700,
                  type: 'iframe',
                  mainClass: 'mfp-fade',
                  removalDelay: 160,
                  preloader: false,

                  fixedContentPos: false
                });
            });
        </script>
        <script type="text/javascript" >
            $( "#deferred-scripts" ).load(function() {
                alert(' #deferred-scripts is loaded')
                $.validate({
                    modules : 'html5',
                    lang: 'ru',
                    errorMessagePosition : 'top',
                });
                $('#{{ self.handle }}-phone').inputmask({"mask": "+375(99) 999-99-99"}); 
                $("#{{ self.handle }}-submit").click(function(e){
                e.preventDefault();
                jQuery.ajax({
                    type: 'POST',
                    dataType: 'json',
                    async: true,
                    url: '{% url 'users:createclient' %}',
                    data: { 'csrfmiddlewaretoken': csrftoken,
                    name: $('#{{ self.handle }}-name').val(),
                    phone: $('#{{ self.handle }}-phone').val(),
                    form: '{{ self.handle }}',
                },
                    success: setTimeout(function(data) { 
                        $.magnificPopup.open({ 
                            items: { 
                                src: '#thank-you-modal', 
                                type: 'inline' 
                            } 
                        });
                        $('#{{ self.handle }}-name').val(''), 
                        $('#{{ self.handle }}-phone').val('') 
                    }, 1000), 
                    error: function(xhr, textStatus) { 
                        $.magnificPopup.open({ 
                            items: { 
                                src: '#error-modal', 
                                type: 'inline' 
                            } 
                        });
                    }
                });
                return false;
            });
        });
        </script>
        {#% endcompress %#}
        <!-- END HOME -->





