{% load compress %}
        <!-- HOME -->
        <section class="bg-custom home" id="home">
            <div class="home-sm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-7">
                            <div class="home-wrapper home-wrapper-alt p-0">
                                <h1 class="h1 font-light text-white w-full">{{ self.h1 }}</h1>
                                <h4 class="text-light w-full">{{ self.h4 }}</h4>
                                {% if self.link %}
                                <a href="{{ self.link }}" class="btn btn-white-bordered">{{ self.linktext }}</a>
                                {% endif %}
                                {% if self.ortext %}
                                <span class="or-space text-light">{{ self.ortext }}</span>
                                {% endif %}
                                {% if self.videolink %}
                                <a href="{{ self.videolink }}" class="video-btn btn popup-video"><i class="pe-7s-play"></i>{{ self.videotext }}</a>
                                {% endif %}
                            </div>
                        </div> <!-- end col -->

                        <div class="col-md-4 col-md-offset-2 col-sm-5">
                            <form class="intro-form" id="{{ self.handle }}">
                                <h3 class="text-center">{{ self.formh3 }}</h3>
                                    <input type="text" name="name" minlength="2" class="form-control name-input-field" placeholder="Ваше имя" required="required">
                                    <span class="error-dialog"></span>
                                <div class="form-group">
                                    <input type="text" name="phone" class="form-control phone-input-field" placeholder="Ваш номер телефона" required="required">
                                    <span class="error-dialog"></span>
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-custom btn-sm btn-block form-submit">{{ self.button }}</button>
                                </div>
                                <span class="help-block m-b-0 m-t-20 text-muted"><small>{{ self.formtext }} <a href="{{ self.formlink }}">{{ self.formlinktext }}</a></small></span>
                            </form>
                        </div><!-- end col -->
                    </div>
                </div>
            </div>
        </section>
        <!-- END HOME -->





