        <!-- PRICING -->
        <section class="section" id="pricing">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12 text-center">
                        {% if self.h3 %}
                        <h3 class="title">{{ self.h3 }}</h3>
                        {% endif %}
                        {% if self.titiel %}
                        <p class="text-muted sub-title">{{ self.title }}</p>
                        {% endif %}
                    </div>
                </div> <!-- end row -->


                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="row">
                        {% for item in self.items %}
                            <!--Pricing Column-->
                            <article class="pricing-column col-lg-4 col-md-4">
                                <div class="inner-box">
                                    <div class="plan-header text-center">
                                        {% if item.title %}
                                        <h3 class="plan-title">{{ item.title }}</h3>
                                        {% endif %}
                                        {% if item.price %}
                                        <h2 class="plan-price">$ {{ item.price }}</h2>
                                        {% endif %}
                                        {% if item.duration %}
                                        <div class="plan-duration">{{ item.duration }}</div>
                                        {% endif %}
                                    </div>
                                    <ul class="plan-stats list-unstyled">
                                    {% for i in item.fields %}
                                        <li> <i class="{{ i.icon }}"></i>{{ i.text }}</li>
                                    {% endfor %}
                                    </ul>

                                    <div class="text-center">
                                        <a href="{{ item.btnlink }}" class="btn btn-sm btn-custom">{{ item.btntext }}</a>
                                    </div>
                                </div>
                            </article>
                        {% endfor %}
                        </div>
                    </div><!-- end col -->
                </div>
                 <!-- end row -->

            </div> <!-- end container -->
        </section>
        <!-- End Pricing -->
