{% load compress %}
        <!-- CTA -->
        <section class="section bg-{% if self.color == 'light' %}light{% else %}custom{% endif %}">
            <div class="container">

                <div class="row text-center">
                    <div class="col-sm-10 col-sm-offset-1">
                        {% if self.h5 %}
                        <h5 {% if self.color == 'dark' %} style="color: white" {% endif %} class="text-uppercase m-t-0">{{ self.h5 }}</h5>
                        {% endif %}
                        {% if self.h2 %}
                        <h2 {% if self.color == 'dark' %} style="color: white" {% endif %} >{{ self.h2 }}</h2>
                        {% endif %}
                        {% if self.handle %}
                        <a href="#popup-modal-form" class="btn btn-{% if self.color == 'light' %}custom{% else %}white-fill{% endif %} m-t-20 {{ self.handle }} popup-form">{{ self.btntext }}</a>
                        {% endif %}
                    </div>
                </div>

            </div>
        </section>
                        {% if self.handle %}
                        <div style="text-align: center !important" class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 mfp-hide" id="solution-form">
                        <div class="col-lg-10 col-lg-offset-1">
                            <form class="intro-form" id="{{ self.handle }}">
                                {% if self.formh3 %}
                                <h3 class="text-center"> {{ self.formh3 }} </h3>
                                {% endif %}
                                    <input type="text" name="name" id="solution-form-name" class="form-control name-input-field" placeholder="Ваше имя" required="required" minlength="2">
                                    <span class="error-dialog"></span>

                                <div class="form-group">
                                    <input type="text" name="phone" class="form-control phone-input-field" placeholder="Ваш номер телефона" required="required">
                                    <span class="error-dialog"></span>

                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-custom btn-sm btn-block form-submit">{{ self.button }}</button>
                                </div>
                            </form>
                        </div>
                        </div>
                        {% endif %}

        <!-- END CTA -->
