{% load compress %}
        <!-- CTA -->
        <section class="section bg-{% if self.color == 'light' %}light{% else %}custom{% endif %}">
            <div class="container">

                <div class="row text-center">
                    <div class="col-sm-10 col-sm-offset-1">
                        {% if self.h5 %}
                        <h5 {% if self.color == 'dark' %} style="color: white" {% endif %} class="text-uppercase m-t-0">{{ self.h5 }}</h5>
                        {% endif %}
                        {% if self.h2 %}
                        <h2 {% if self.color == 'dark' %} style="color: white" {% endif %} >{{ self.h2 }}</h2>
                        {% endif %}
                        {% if self.handle %}
                        <a href="#{{ self.handle }}" class="btn btn-{% if self.color == 'light' %}custom{% else %}white-fill{% endif %} m-t-20 {{ self.handle }}">{{ self.btntext }}</a>
                        {% endif %}
                    </div>
                </div>

            </div>
        </section>
                        {% if self.handle %}
                        <div style="text-align: center !important" class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 mfp-hide" id="{{ self.handle }}">
                        <div class="col-lg-10 col-lg-offset-1">
                            <form class="intro-form">
                                {% if self.formh3 %}
                                <h3 class="text-center"> {{ self.formh3 }} </h3>
                                {% endif %}
                                    <input type="text" id="{{ self.handle }}-name" name="name" class="form-control" data-validation="length"  data-validation-length=" 3-15" data-validation-error-msg-container="#{{ self.handle }}-email-error-dialog" placeholder="Ваше имя" required="required">
                                    <span id="{{ self.handle }}-email-error-dialog"></span>
                                <div class="form-group">
                                    <input type="text" id="{{ self.handle }}-phone" name="phone" class="form-control" placeholder="Ваш номер телефона" required="required">
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-custom btn-sm btn-block" id="{{ self.handle }}-submit">{{ self.button }}</button>
                                </div>
                            </form>
                        </div>
                        </div>
                        {% endif %}

        <!-- END CTA -->
        {% if self.handle %}
        {% compress js inline %}
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                $('.{{ self.handle }}').magnificPopup({
                    type: 'inline',
                    preloader: false,
                    focus: '#{{ self.handle }}-name',
                    closeBtnInside: false, 
                    removalDelay: 300,

                    // When elemened is focused, some mobile browsers in some cases zoom in
                    // It looks not nice, so we disable it:
                    callbacks: {
                        beforeOpen: function() {
                            if($(window).width() < 700) {
                                this.st.focus = false;
                            } else {
                                this.st.focus = '#name';
                            }
                        }
                    }
                });

                $.validate({
                    modules : 'html5',
                    lang: 'ru',
                    errorMessagePosition : 'top',
                });
                $('#{{ self.handle }}-phone').inputmask({"mask": "+375(99) 999-99-99"}); 
                $("#{{ self.handle }}-submit").click(function(e){
                e.preventDefault();
                jQuery.ajax({
                    type: 'POST',
                    dataType: 'json',
                    async: true,
                    url: '{% url 'users:createclient' %}',
                    data: { 'csrfmiddlewaretoken': csrftoken,
                    name: $('#{{ self.handle }}-name').val(),
                    phone: $('#{{ self.handle }}-phone').val(),
                    form: '{{ self.handle }}',
                },
                    success: setTimeout(function(data) { 
                        $.magnificPopup.open({ 
                            items: { 
                                src: '#thank-you-modal', 
                                type: 'inline' 
                            } 
                        });
                        $('#{{ self.handle }}-name').val(''), 
                        $('#{{ self.handle }}-phone').val('') 
                    }, 1000), 
                    error: function(xhr, textStatus) { 
                        $.magnificPopup.open({ 
                            items: { 
                                src: '#error-modal', 
                                type: 'inline' 
                            } 
                        });
                    }
                });
                return false;
            });
            });
        </script>
        {% endcompress %}
        {% endif %}
