        <!-- OUR STORY -->
        <section class="section">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center">
                            <div class="title-box-icon title-about">
                                {% if self.icon %}
                                <i class="{{ self.icon }}"></i>
                                {% endif %}
                                {% if self.h3 %}
                                <h3 class="title">{{ self.h3 }}</h3>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div><!-- end row -->

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="feat-description text-center">
                            {% if self.h4 %}
                            <h4 class="text-muted">{{ self.h4 }}</h4>
                            {% endif %}
                            {% if self.text %}
                            <p class="text-muted">{{ self.text }}</p>
                            {% endif %}

                        </div>
                    </div>
                </div><!-- end row -->

            </div> <!-- end container -->
        </section>

        <!-- end our story -->
