{% load compress %}
        <!-- Subscribe -->
        <section class="section bg-custom">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h3 class="title text-white">{{ self.h3 }}</h3>
                        <p class="text-light sub-title">{{ self.text }}</p>
                    </div>
                </div><!-- End row -->

                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <form class="text-center" id="{{ self.handle }}">
                            {% if self.handle %}
                            <div class="form-group m-b-0">
                                <input name="phone" class="form-control input-subscribe phone-input-field"
                                       placeholder="Ваш номер телефона" required>
                                <span class="error-dialog"></span>
                            </div>
                            
                            <button type="submit" class="btn btn-white-fill form-submit">{{ self.btntext }}</button>
                            <p class="text-light">
                                <small>{{ self.smalltext }}</small>
                            </p>
                            {% endif %}
                        </form>
                    </div>
                </div><!-- End row -->

            </div> <!-- end container -->
        </section>
        <!-- End Subscribe -->