{% load static l10n %}
{% if masters.count %}
<div id="map" style="width: 100%; height: 400px"></div>
{% localize off %}
<script>
  function initMap() {
    var latlng = { lat: {{ city.latitude }}, lng: {{ city.longitude }} };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 9,
      center: latlng,
      scrollwheel: false,
      disableDoubleClickZoom: true,
    });

    google.maps.event.addListenerOnce(map, 'tilesloaded', addMarkers);

    function addMarkers() {
    {% for master in masters %}
    var point = { lat: {{ master.position.latitude }}, lng: {{ master.position.longitude }} };

    var marker = new google.maps.Marker({
      position: point, 
      map: map,
      title: '!',
      url: '', 
    });

    marker['infowindow'] = new google.maps.InfoWindow({
      content: '<div id="content" style="text-align: center"><h1>{{ master.user.username }}</h1><br/><h2>{{ master.raiting }}</h2><br/><h3><a href="{% url 'users:detail' master.user_id %}">Страница мастера</a></h3></div>'
    });

    google.maps.event.addListener(marker, 'click', function() {
      //window.location.href = this.url;
      this['infowindow'].open(map, this);
    });
    google.maps.event.addListener(marker, 'mouseover', function() {
      //this['infowindow'].open(map, this);
    });
    google.maps.event.addListener(marker, 'mouseout', function() {
      //this['infowindow'].close(map, this);
    });
    {% endfor %}
  }
}

</script>
{% endlocalize %}
<script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyBO-_WYrcSrU79tLuKPiINGkCJ1e__RWWw&callback=initMap" async defer></script>
{% endif %}
