<div class="container">
  <h2>{{ masters.text }}</h2>

  <div class="list-group">
    {% for master in masters.master %}
      <a href="{% url 'users:detail' master.user_id %}" class="list-group-item">
      <div class="testimonial-user-info user-info text-left">
        <div class="testimonial-user-thumb user-thumb">
            <img src="{{ master.avatar }}" alt="Частный мастер по ремонту компьютеров {{ master.user.username }}">
        </div>
        <div class="testimonial-user-txt user-text">
            <label class="testimonial-user-name user-name">{{ master.user.username }}</label>
            <p class="testimonial-user-position user-position text-muted">Местоположение: {{ master.country }} {{ master.city }}</p>
            <p class="testimonial-user-position user-position text-muted">Рейтинг: {{ master.raiting }}</p>
        </div>
      </div>
      </a>
    {% endfor %}
  </div>
</div>