{% extends "account/base_form.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block form_content %}


<form method="post" class="intro-form" action="{% url 'account_logout' %}">
<h1 style="text-align: center">{% trans "Sign Out" %}</h1>

<p style="text-align: center">{% trans 'Are you sure you want to sign out?' %}</p>
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-custom btn-sm btn-block" type="submit">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}
