{% extends "account/base_form.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block form_content %}
    <h1 style="color: white; text-align: center">{% trans "Verify Your E-mail Address" %}</h1>

    <p style="color: white; text-align: center">{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

{% endblock %}
