 {% load static compress %}
 {# CSS libs #}
    {% compress css %}
    <link type="text/css" rel="stylesheet" charset="utf-8" href="{% static 'css/bootstrap.min.css' %}"/>
    {# CSS layout #}
    <link type="text/css" rel="stylesheet" charset="utf-8" href="{% static 'css/magnific-popup.css' %}">
    <link type="text/css" rel="stylesheet" charset="utf-8" href="{% static 'css/style.css' %}">
    <link type="text/css" rel="stylesheet" charset="utf-8" href="{% static 'css/colors/default.css' %}">
    <!--link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"-->
    {% endcompress %}
    {# CSS fonts #}
    <link type="text/css" media="none" onload="if(media!='all')media='all'" rel="stylesheet" charset="utf-8" href="{% static 'css/pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" media="none" onload="if(media!='all')media='all'" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous">    
    <link rel="stylesheet" media="none" onload="if(media!='all')media='all'" href="https://fonts.googleapis.com/css?family=Pacifico"  type="text/css">
    <link rel="stylesheet" media="none" onload="if(media!='all')media='all'" href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,700" type="text/css">