{% load menu_tags %}
        <!-- FOOTER -->
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h5>Zodkoo</h5>
                        <ul class="list-unstyled">
                            <li><a href="index_3.html">Home</a></li>
                            <li><a href="index_3.html">Features</a></li>
                            <li><a href="index_3.html">Team</a></li>
                            <li><a href="index_3.html">FAQ</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        {% flat_menu 'footer_social_links' %}
                        <!--h5>Social</h5>
                        <ul class="list-unstyled">
                            <li><a href="index_3.html">Facebook</a></li>
                            <li><a href="index_3.html">Twitter</a></li>
                            <li><a href="index_3.html">Behance</a></li>
                            <li><a href="index_3.html">Dribbble</a></li>
                        </ul-->
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <h5>Support</h5>
                        <ul class="list-unstyled">
                            <li><a href="index_3.html">Help & Support</a></li>
                            <li><a href="index_3.html">Privacy Policy</a></li>
                            <li><a href="index_3.html">Terms & Conditions</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <h5>Contact</h5>
                        <address>
                            795 Folsom Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890<br/>
                            E: <a href="mailto:#">email@email.com</a>
                        </address>
                    </div>

                </div> <!-- end row -->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="footer-alt text-center">
                            <p class="text-muted m-b-0">2016 © Zodkoo</p>
                        </div>
                    </div>
                </div> <!-- end row -->

            </div> <!-- end container -->
        <!-- END FOOTER -->