{% load static compress %} 
    {% compress js %}
    <script type="text/javascript" data-turbolinks-eval="false" defer src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false" defer src="{% static 'js/bootstrap-3.3.7.min.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false" defer src="{% static 'js/cookie-2.1.4.min.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false" defer src="{% static 'js/jquery.sticky.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false" defer src="{% static 'js/jquery.ajaxchimp.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false" defer src="{% static 'js/jquery.app.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false" defer src="{% static 'js/switcher.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false" defer src="{% static 'js/parsley.min.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false" defer src="{% static 'turbolinks/turbolinks.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false" defer src="{% static 'js/respond-1.4.2.min.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false" defer src="{% static 'js/raven.min.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false" defer src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false" defer src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false" defer src="{% static 'js/infinite.min.js' %}"></script>
    <!-- js placed at the end of the document so the pages load faster -->
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script-->
    {#% endcompress %#}
    {#% compress js %#}
    <script type="text/javascript" data-turbolinks-eval="false" defer src="{% static 'js/jquery.easing.1.3.min.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false" defer src="{% static 'js/jquery.inputmask.3.3.4.min.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false" defer src="{% static 'js/metrica/watch.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false" defer src="{% static 'js/analytics.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false" defer src="{% static 'js/project.js' %}"></script>
    {% endcompress %}
    <script>function defer(e){window.Inputmask?e():setTimeout(function(){defer(e)},50)}</script>
    {% if user.is_authenticated %}
    <script type="text/javascript" data-turbolinks-eval="false" defer src="{% url 'admin:jsi18n' %}"></script>
    {% endif %}
    <script>defer(function(){csrftoken=Cookies.get("csrftoken")});</script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="{% static 'js/html5shiv-printshiv.js' %}"></script>
          <script src="{% static 'js/respond-1.4.2.min.js' %}"></script>
    <![endif]-->