{% load menu_tags base_tags wagtailcore_tags %}
{% block main_navigation %}
{% get_site_root as site_root %}
<!-- Navbar -->

        <div class="navbar navbar-custom sticky" role="navigation" id="sticky-nav">
            <div class="container">

                <!-- Navbar-header -->
                <div class="navbar-header">

                    <!-- Responsive menu button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- LOGO -->
                    <a class="navbar-brand logo" href="{% pageurl site_root %}">
                        {{ site_root.title }}
                    </a>

                </div>
                <!-- end navbar-header -->

                <!-- menu -->
                <div class="navbar-collapse collapse" id="navbar-menu">

                    <!-- Navbar left -->
                    <ul class="nav navbar-nav nav-custom-left">
                        {% main_menu %}
                    </ul>

                    <!-- Navbar right -->
                    <ul class="nav navbar-nav navbar-right">
                    {% if g.user %}
                        <li>
                            <a href="#">{{ g.user.name }}</a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-white-fill navbar-btn">Выйти</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="tel:{{ phone }}">{{ phone }}</a>
                        </li>
                        <!--li>
                            <a href="{#% url 'qa_index' %#}" class="fa fa-question"></a>
                        </li>
                        <li>
                            <a href="#search" class="fa fa-search"></a>
                        </li-->
                        <li>
                            <a href="#nav-modal-form" class="btn btn-white-fill navbar-btn nav-modal-form">Заказать звонок</a>
                        </li>
                    {% endif %}
                    </ul>

                </div>
                <!--/Menu -->

            </div>
            <!-- end container -->
          <!--div class="bootsnipp-search">
            <div class="container">
              <form method="GET" role="search">
                <div class="input-group">
                  <input type="text" class="form-control" name="q" placeholder="Поиск">
                </div>
              </form>
            </div>
          </div-->
        </div>

        <!-- End navbar-custom -->
{% endblock %}