<!DOCTYPE HTML>
{% load static meta compress %}

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="ru" class="no-js" {% meta_namespaces_gplus %}> <!--<![endif]-->

<head {% meta_namespaces %}>
{% include "meta/meta.html" %}
    <!--title-->        
    	{#% block title %#}
            {#% block title_prefix %#}
            {#% endblock %#}
            {#% if self.seo_title %#}
                {#{ self.seo_title }#}
            {#% else %#}
                {#{ self.title }#}
            {#% endif %#}
        {#% endblock %#}
    <!--/title-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block meta %}{% endblock %}
    <link rel="Shortcut Icon" href="{% static 'image/favicon.png' %}">
    {# CSS libs #}
    {#% compress css %#}
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    {# CSS layout #}
    <link type="text/css" rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/colors/default.css' %}">
    <!--link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"-->
    {#% endcompress %#}
    {# CSS fonts #}
    <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous">    
    <link rel="stylesheet" href="{% static 'css/pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico"  type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,700" type="text/css">

    <meta name="yandex-verification" content="086d5306efe34ab0" />
    <meta name="google-site-verification" content="oMWgonLOcqrDL0gN-u2f4odkQPLyEubqgbpMDfrM4_w" />

    {% block head-extra %}
    {% endblock head-extra %}

    {#% compress js %#}
    <script data-turbolinks-eval="false" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script data-turbolinks-eval="false" src="{% static 'js/bootstrap-3.3.7.min.js' %}"></script>
    <script data-turbolinks-eval="false" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script data-turbolinks-eval="false" src="{% static 'js/cookie-2.1.4.min.js' %}"></script>
    <script data-turbolinks-eval="false" src="{% static 'js/jquery.easing.1.3.min.js' %}"></script>
    <script data-turbolinks-eval="false" src="{% static 'js/jquery.sticky.js' %}"></script>
    <script data-turbolinks-eval="false" src="{% static 'js/jquery.ajaxchimp.js' %}"></script>
    <script data-turbolinks-eval="false" src="{% static 'js/jquery.app.js' %}"></script>
    <script data-turbolinks-eval="false" src="{% static 'js/switcher.js' %}"></script>
    <script data-turbolinks-eval="false" src="{% static 'js/parsley.min.js' %}"></script>
    <script data-turbolinks-eval="false" src="{% static 'turbolinks/turbolinks.js' %}"></script>
    <script data-turbolinks-eval="false" src="{% static 'js/jquery.form.validator.2.3.26.min.js' %}"></script>
    <script data-turbolinks-eval="false" src="{% static 'js/jquery.inputmask.3.3.4.min.js' %}"></script>
    {#% endcompress %#}

    {# JS libs #}
    <script data-turbolinks-eval="false" src="{% static 'js/respond-1.4.2.min.js' %}"></script>
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script-->
    <script data-turbolinks-eval="false" src="{% static 'js/raven.min.js' %}"></script>
    <!-- js placed at the end of the document so the pages load faster -->


    
    {% block extrahead %}
    {% endblock extrahead %}
    {% if user.is_authenticated %}<script type="text/javascript" data-turbolinks-eval="false" src="{% url 'admin:jsi18n' %}"></script>{% endif %}




    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
    <![endif]-->
<script type="text/javascript">var csrftoken = Cookies.get('csrftoken');</script>

</head>