<!DOCTYPE HTML>
{% load static meta compress %}

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="ru" class="no-js" {% meta_namespaces_gplus %}> <!--<![endif]-->

<head {% meta_namespaces %}>
{% include "meta/meta.html" %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block meta %}{% endblock %}
    <link rel="Shortcut Icon" href="{% static 'image/favicon.png' %}">
    <meta name="yandex-verification" content="086d5306efe34ab0" />
    <meta name="google-site-verification" content="oMWgonLOcqrDL0gN-u2f4odkQPLyEubqgbpMDfrM4_w" />

    {% block head-extra %}
    {% endblock head-extra %}

    
    {% block extrahead %}
    {% endblock extrahead %}
    
    {% block css_head %}
        {% include "includes/css_head.html" %}
    {% endblock css_head %}
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="{% static 'js/html5shiv-printshiv.js' %}"></script>
          <script src="{% static 'js/respond-1.4.2.min.js' %}"></script>
    <![endif]-->
</head>