<!DOCTYPE HTML>
{% load static meta compress %}

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" {% meta_namespaces_gplus %}> <!--<![endif]-->

<head {% meta_namespaces %}>
{% include "meta/meta.html" %}
    <title>        
    	{% block title %}
            {% block title_prefix %}
                Wagtail demo bakery
            {% endblock %}
            {% if self.seo_title %}
                {{ self.seo_title }}
            {% else %}
                {{ self.title }}
            {% endif %}
        {% endblock %}
    </title>
    <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% block meta %}{% endblock %}
    <link rel="Shortcut Icon" href="{% static 'image/favicon.png' %}">
    {# CSS libs #}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous">    
    {# CSS layout #}
    <link rel="stylesheet" href="{% static 'css/bootstrap.theme.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/colors/default.css' %}">
    <!--link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"-->
    {# CSS fonts #}
    <link rel="stylesheet" href="{% static 'css/pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico"  type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,700" type="text/css">

    <meta name="yandex-verification" content="086d5306efe34ab0" />
    <meta name="google-site-verification" content="LzjL2reBMlkFvshH5dlioChjyYZYUDczxJKZfU2OM3Y" />

    {% compress js %}
    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-3.3.7.min.js' %}"></script>
    <script src="{% static 'js/cookie-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.js' %}"></script>
    <script src="{% static 'js/jquery.app.js' %}"></script>
    <script src="{% static 'js/switcher.js' %}"></script>
    <script src="{% static 'js/parsley.min.js' %}"></script>
    {% endcompress %}
    <script src="{% static 'turbolinks/turbolinks.js' %}"></script>
    {# JS libs #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script-->
    <script src="{% static 'js/init.js' %}"></script>
    <script src="{% static 'js/libs/raven.min.js' %}"></script>
    <!-- js placed at the end of the document so the pages load faster -->

    {% block head-extra %}
    {% endblock head-extra %}
    
    {% block extrahead %}
    {% endblock extrahead %}

        <script type="text/javascript">
        function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        </script>
    {% if user.is_authenticated %}<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>{% endif %}

        <script type="text/javascript">

            $.ajaxSetup({ 
             beforeSend: function(xhr, settings) {
                 function getCookie(name) {
                     var cookieValue = null;
                     if (document.cookie && document.cookie != '') {
                         var cookies = document.cookie.split(';');
                         for (var i = 0; i < cookies.length; i++) {
                             var cookie = jQuery.trim(cookies[i]);
                             // Does this cookie string begin with the name we want?
                             if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                 break;
                             }
                         }
                     }
                     return cookieValue;
                 }
                 if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                     // Only send the token to relative URLs i.e. locally.
                     xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                 }
             } 
        });
        </script>

        <script>
        $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
         event.preventDefault();
         event.stopPropagation();
         $(this).parent().addClass('open');
         var menu = $(this).parent().find("ul");
         var menupos = menu.offset();
         if ((menupos.left + menu.width()) + 30 > $(window).width()) {
         var newpos = - menu.width();
         } else {
         var newpos = $(this).parent().width();
         }
         menu.css({ left:newpos });
        });
        </script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
    <![endif]-->
<script type="text/javascript">var csrftoken = Cookies.get('csrftoken');</script>

</head>