{% load static compress %}
    <noscript id="red-scripts">
    {% compress js %}
    <script type="text/javascript" data-turbolinks-eval="false"  src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false"  src="{% static 'js/bootstrap-3.3.7.min.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false"  src="{% static 'js/cookie-2.1.4.min.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false"  src="{% static 'js/jquery.sticky.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false"  src="{% static 'js/jquery.ajaxchimp.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false"  src="{% static 'js/jquery.app.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false"  src="{% static 'js/switcher.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false"  src="{% static 'js/parsley.min.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false"  src="{% static 'turbolinks/turbolinks.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false"  src="{% static 'js/respond-1.4.2.min.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false"  src="{% static 'js/raven.min.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false"  src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false"  src="{% static 'js/jquery.easing.1.3.min.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false"  src="{% static 'js/analytics.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false"  src="{% static 'js/watch.js' %}"></script>


    <!-- js placed at the end of the document so the pages load faster -->
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script-->
    {% endcompress %}
    {% compress js %}
    <script type="text/javascript" data-turbolinks-eval="false"  src="{% static 'js/jquery.form.validator.2.3.26.min.js' %}"></script>
    <script type="text/javascript" data-turbolinks-eval="false"  src="{% static 'js/jquery.inputmask.3.3.4.min.js' %}"></script>
    {% endcompress %}

    {% if user.is_authenticated %}<script type="text/javascript" data-turbolinks-eval="false"  src="{% url 'admin:jsi18n' %}"></script>{% endif %}
    {% compress js inline %}
    <script type="text/javascript">
    window.onload = function () {
        var csrftoken = Cookies.get('csrftoken');
        };</script>
    {% endcompress %}
    </noscript>
