{% extends "base.html" %}
{% load static i18n mptt_tags %}
{% block title %}Города{% endblock %}
{% block content %}
<section class="bg-custom home">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 com-lg-12 text-center">
        <div class="home-wrapper">
          <h1 class="text-white">{{ object.name }} в городе {{ city.alternate_names }}</h1>
          <h4 class="text-light">{{ object.cta }}</h4>
          <a href="#altBlock" class="btn btn-white-bordered">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section" id="altBlock">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <div class="title-box-icon">
            <i class="{{ object.icon }}"></i>
            <h3 class="title">{{ object.cta }}</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <div class="feat-description" style="text-align: center">
          <h4 class="text-muted">{{ object.cta }}</h4>
          <p class="text-muted">{{ description.description }}</p>
          <a href="#" class="btn btn-custom">Заказать</a>
        </div>
      </div>
      <div class="col-sm-6 col-sm-offset-1">
        <img src="/media/{{ image.image }}" alt="{{ image.alt }}" class="img-responsive">
      </div>
    </div>
  </div>
</section>
{% if services %}
<section class="section bg-light" id="{{ self.handle}}-features">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="title">Услуги</h3>
        <p class="text-muted sub-title">Услуги</p>
      </div>
    </div>
    <div class="row">
    {% for node in services %}
      {% if not node.is_root_node %}
      <div class="{% if services.count > 2 %}col-sm-4{% elif services.count == 2 %}col-sm-6{% else %}col-sm-6 col-sm-offset-3{% endif %}">
        <div class="features-box">
          <a href="{% if node.slug %}{% url 'cities:city-service' city.alternate_names node.slug %}{% else %}#{% endif %}">
          <i class="{{ node.icon }}"></i>
          <h4>{{ node.name }}</h4></a>
          {% for service in node.get_descendants %}
            {% if not service.is_child_node %}
            {% if not service.is_leaf_node %}
            <li>
              <a href="{% if service.slug %}{% url 'cities:city-service' city.alternate_names service.slug %}{% endif %}">{{ service.name }}</a>
            </li>
            {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
      {% if forloop.counter|divisibleby:3 %}
      </div>
      <div class="row">
      {% endif %}
      {% endif %}          
    {% endfor %}
    </div>
  </div>
</section>
{% endif %}
{% endblock content %}

