{% extends "base.html" %}
{% load static i18n users_tags mptt_tags %}
{% block content %}
<section class="bg-custom home" id="home">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="home-wrapper">
          <h1 class="text-white">{{ meta_title }}</h1>
          <h4 class="text-light">{{ meta_description }}</h4>
          <a href="" class="btn btn-white-bordered">Заказать!</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% if services %}
{% for node in services %}
{% if node.is_root_node %}
<section class="section bg-light" id="{{ self.handle}}-features">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="title">{{ node.name }}</h3>
        <p class="text-muted sub-title">{{ node.cta }}</p>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endfor %}
{% endif %}
{% endblock content %}
